
@use '../abstracts/' as *;

/* Typography*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html {font-size: 112.5%;} /*18px*/

body {
  @include grid(center);
  background: $mainBG;
  font-family: $fontFamily;
  font-weight: 400;
  line-height: 1.75;
  color:$softBlue;
}

p {
  max-width: 40rem;
  margin-bottom: 1rem;

}

h1, h2, h3, h4, h5 {
  margin:0;
  margin-bottom: 1.38rem;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: $smallText;
}

a{
  text-decoration: none;
}
ul{
  list-style-type: none;
  padding: 0;
}


